*{
    box-sizing: border-box;
}

.logo_ml{
    width: 33%;
}

header{
    background-color: #EAC926;
    font-weight: 300;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

main{
    width: 90%;
    background-color: #ebebeb;
    margin: auto;
}

.icono_search{
    margin-left: 5px;
}

article{
    background-color: #FCFCFC;
}

footer{
    background-color: #FCFCFC;
    border-top: solid 30px #FCFCFC;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.compra_en_cuotas{
    color: black;
    text-align: center;
}

ul{
    list-style-type: none;
}

ul li a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.titulares{
    background-color: #ebebeb;
    font-size: 24px;
    color: #666;
}

.precio{
    font-size: 18px;
    color: black;
    margin: 1px;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
    margin: 1px;
}

.descripciones{
    font-size: 16px;
    margin-top: 15px;
}

footer section{
    text-align: center;
    font-size: 12;
}

.titulo_footer{
    color: #666;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1px;
}

.info_titulo{
    margin: 1px;
    color: #666;
}

.copyright{
    color: #666;
    margin-top: 40px;
}

.iconos_titulos{
    margin-top: 55px;
    color: #1259c3;
    font-size: 2em;
    line-height: 10px;
}

.burger-menu i {
    padding:8px;
    text-align: center;
    border-radius: 8px;
    background-color: #1259c3;
    color: white;
}

.burger-menu {
    text-align: center;
    border-bottom: solid #EAC926 15px;
}

.producto{
    margin: 15px;
    color: #666;
}

.image{
    border-bottom: solid 2px #ebebeb;
}

.truck{
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    width: 38px;
    font-size: 14px;
    padding: 10px;
}

.info_de_productos{
    margin-top: 10px;
    margin-left: 10px;
}

.buscador{
    margin-left: 20px;
}

@media (max-width: 360px){
    .descripciones{
        display: none;
    }

    .site{
        display: none;
    }

    .login_navbar{
        display: none;
    }

    .primer_contenedor{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .logo_ml{
        width: 30%;
    }

    .buscar{
        width: 70%;
        font-size: 70%;
        align-items: center;
    }

    .buscador{
        width: 70%;
        font-size: 70%;
    }

    .ultima_visita{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .seccion_ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

@media (min-width: 361px){

    .logo_ml{
        width: 25%;
    }

    .burger-menu {
        display: none;
    }

    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        align-self: stretch;
        width: 220px;
        
    }

    .ultima_visita{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .seccion_ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .precio_descuento{
        display: flex;
    }
    
    .primer_contenedor{
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    .segundo_contenedor{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }
    
    .site{
        display: flex;
        justify-content: flex-start;
        flex: 50%;
    }
    
    .links1{
        margin: 0px 15px;
    }
    
    .login_navbar{
        display: flex;
        justify-content: flex-end;
        flex: 50%;
    }
    
    .links2{
        margin: 0px 15px;
    }
    .precio{
        flex: 30%
    }
    
    .descuento{
        flex: 70%;
    }
}

@media (min-width: 769px){
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu {
        display: none;
    }
}
